@if (isAddingTask) {
    <app-newTask (cancel)="onCancelAddTask()" (add)="onAddTask($event)"/>
}

<section id="tasks">
    <header>
        <h2>{{name}}`s Tasks</h2>
        <menu>
            <button (click)="onStartAddTask()">Add Task</button>
        </menu>
    </header>

    <ul>
        <li>
            <!-- Aquí puedes mostrar las tareas reales obtenidas desde Google Sheets -->
            <span style="color: #aaa;">(Aquí se mostrarán las tareas guardadas en la hoja de cálculo)</span>
        </li>
    </ul>
</section>

