<app-header>
    @if (isAuthenticated) {
        <button id="logout-btn" (click)="logout()" title="Cerrar sesión">⎋</button>
    }
</app-header>

<main [class.solo-tareas]="isEncargado && loggedUser && !isSuperior" [class.solo-login]="!isAuthenticated">
    @if (!isAuthenticated) {
        <div id="login-wrapper">
            <app-login (login)="onLogin($event)"></app-login>
        </div>
    } @else {
        @if (!errorMsg) {
            @if (isSuperior && loggedUser) {
                <app-tasks [userId]="loggedUser.id!" [name]="loggedUser.name!" [isEncargado]="false" [loggedUser]="loggedUser" />
            } @else if (isEncargado && loggedUser) {
                <app-tasks [userId]="loggedUser.id!" [name]="loggedUser.name!" [isEncargado]="true" [loggedUser]="loggedUser" />
            }
        } @else {
            <p style="color: red; font-weight: bold;">{{ errorMsg }}</p>
        }
    }
</main>