<app-header />

<main>
    @if (!errorMsg) {
        <ul id="users">
            @for (user of users; track user.id) {
                <li>
                    <app-user [user]="user" [userSelected]="user.id === selectedUserId" 
                        (select)="onSelectUser($event)" />
                </li>
            }
        </ul>

        @if (selectedUserId) {
            <app-tasks  [userId]="selectedUser.id" [name]="selectedUser.name" />
        } @else {
            <p id="fallback"> Select a user to see their tasks! </p>
        }
    } @else {
        <p style="color: red; font-weight: bold;">{{ errorMsg }}</p>
    }
</main>