/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #102310, #051905);
  color: #b3d8b8;
  margin: 0;
  padding: 0;
  height: 100%;
}